@import "../../../../scss/sizes.scss";

.header {
    box-shadow: 0.1px 0.1px 0.5px 0.1px;
    background-color: white;
    position: fixed;
    height: 70px;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-items: center;
}

.slide-down {
    animation: slide-down 0.5s forwards;
    animation-delay: 0s;
    top: -71px;
}

.slide-up {
    animation: slide-up 0.5s forwards;
    animation-delay: 0s;
    top: 0px;
}

@keyframes slide-down {
    100% {
        top: -1px;
    }
}

@keyframes slide-up {
    100% {
        top: -71px;
    }
}

.facebook {
    margin-top: 17px;
    display: block;
}

.fb-small {
    display: none;
}

@media screen and (max-width: $tablet-width) {
    .header {
        box-shadow: none;
        height: 40px;
        z-index: 999;
    }

    .center-icons .facebook {
        margin-top: 1px;
    }

    .center-icons {
        display: table;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90px;
    }

    .facebook {
        display: none;
    }

    .fb-small {
        color: rgb(17, 120, 242);
        font-size: 24px;
        margin-top: 7px;
        display: block;
    }
}

@media screen and (max-height: $mobile-landscape-min-height) and (min-width: $tablet-width) {
    .header {
        box-shadow: none;
        height: 40px;
        z-index: 999;
    }

    .center-icons .facebook {
        margin-top: 1px;
    }

    .center-icons {
        display: table;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90px;
    }

    .facebook {
        display: none;
    }

    .fb-small {
        color: rgb(17, 120, 242);
        font-size: 24px;
        margin-top: 7px;
        display: block;
    }
}