@import "../../../../scss/sizes.scss";
.header {
    box-shadow: 0.1px 0.1px 0.5px 0.1px;
    background-color: white;
    position: fixed;
    height: 70px;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-items: center;
}
.slide-down {    
    animation: slide-down 0.5s forwards;
    animation-delay: 0s;
    top: -71px;   
}
.slide-up {   
    animation: slide-up 0.5s forwards;
    animation-delay: 0s;
    top: 0px;   
}
@keyframes slide-down {
    100% { top: -1px; }
}
@keyframes slide-up {     
    100% { top: -71px; }    
}
.facebook {
    margin-top: 17px;
}

@media screen and (max-width: $tablet-width) {
    .header {
        height: 40px;
    }
}
@media screen and (max-height: $mobile-landscape-min-height) and (min-width: $tablet-width) {
    .header {
        height: 40px;
    }
}