<div class="about">
    <h4 class="title center-text with-100">Kilka słów o mnie...</h4>
    <article class="main">
        <section class="box text">
            <app-long-text-popup title="Kilka słów o mnie..." [(shown)]="popupShown">
                <p>
                    Mam na imię Beata. Jestem wielką miłośniczką psów, kocham je bezgranicznie 💕. Są moją pasją, ich
                    pielęgnacja sprawia mi wiele satysfakcji. W moim rodzinnym domu zawsze były psy i to ja od
                    najmłodszych
                    lat o nie
                    dbałam. Jeździłam na wystawy psów, na wyścigi chartów, uczestniczyłam z psami w kursach PT, PO i
                    było
                    wiele
                    emocji z tym związanych. 🐶😍🧐🤣💗💡
                </p>
                <p>
                    Kilka lat temu zdecydowałam się zrobić kurs groomerski i profesjonalnie zająć się pielęgnacją psów.
                    Pragnę w
                    tym miejscu podziękować wszystkim osobom, dzięki którym tak dużo się nauczyłam.
                </p>
                <p [ngClass]="{'not-visible' : popupShown}" class="placeholder disappearing">
                    Byłam jednym z członków założycieli Polskiego Stowarzyszenia Groomerów,
                    które powstało w 2009 roku. <br>
                    <span class="disappeared">PSG zrzesza osoby zajmujące się profesjonalnie pielęgnacją...</span>
                </p>
                <section [ngClass]="{'not-visible' : !popupShown}">
                    <p>
                        Byłam jednym z członków założycieli Polskiego Stowarzyszenia Groomerów, które powstało w 2009
                        roku.
                        PSG
                        zrzesza
                        osoby zajmujące się profesjonalnie pielęgnacją zwierząt. W tej pracy cały czas trzeba się
                        szkolić,
                        poznawać
                        nowe
                        trendy w strzyżeniu i pielęgnacji. Dlatego też uczestniczę w organizowanych seminariach, na
                        których
                        pogłębiam
                        wiedzę z zakresu pielęgnacji konkretnych ras, oraz biorę udział w warsztatach, na których
                        doskonale
                        swoje
                        umiejętności pod okiem wybitnych, światowej klasy groomerów, jak i hodowców.
                    </p>
                    <p>
                        Od 2007 roku prowadzę w Bielsku-Białej Salon Pielęgnacji Psów - LENA. Stawiam na jakość,
                        profesjonalizm i
                        wysoki
                        poziom wykonywanych usług. Moje doświadczenie oraz kontakt ze środowiskiem kynologicznym, pasja,
                        miłość do
                        psów,
                        pogłębianie wiedzy w zakresie znajomosci ras oraz ich pielęgnacji, pomaga mi udzielać fachowych
                        porad
                        związanych
                        z pielęgnacją i wychowaniem. Potrafię odpowiednio podejść do każdego pieska i stworzyć przyjazną
                        mu
                        atmosferę,
                        cierpliwością i spokojem sprawiam, by wizyta w moim salonie była dla pieska jak najmniej
                        stresująca.
                        Pracuję
                        na
                        zasadzie współpracy z psem. Nie stosuję żadnych środków uspokajających ani usypiających. Do
                        pielęgnacji
                        używam
                        sprawdzonych kosmetyków renomowanych firm, pracuję na wysokiej klasy sprzęcie groomerskim, a
                        wszystko w
                        odpowiednich warunkach sanitarnych.
                    </p>
                    <p>
                        GROOMER czyli FRYZJER ZWIERZĄT w 2010 roku został uznany za zawód 😍
                        <br>
                        W czerwcu 2013 roku potwierdziłam moje kwalifikacje zawodowe zdając państwowy egzamin przed
                        Komisją
                        Izby
                        Rzemieślniczej oraz Małej i Średniej Przedsiębiorczości w Katowicach. Uzyskałam tytuł MISTRZA w
                        zawodzie
                        GROOMER - FRYZJER ZWIERZĄT 😊
                    </p>

                    <p>
                        Moim priorytetem jest zadowolenie Właścicieli i ich czworonożnych Przyjaciół! Robię to, co
                        lubię,
                        jak
                        najlepiej
                        potrafię i wkładam w to całe serce!
                    </p>

                    <p>
                        Pozdrawiam i zapraszam do mojego Salonu.<br>
                        Beata Zdrowak
                    </p>
                </section>
            </app-long-text-popup>
            <app-button class="button-position" (onClick)="showPopup()">Więcej o mnie 😊</app-button>
        </section>
        <section class="about-image"></section>
    </article>
    <div copyRights class="main-color-gray copy-position"></div>
</div>