@import "../../../../styles.scss";

.about {
    height: 100vh; 
    background-color: $body-gray;   
}
.title {
    width: 100%;
    padding-top: 90px;  
}
.main {
    margin: 1vh 5vw;
    height: 70vh;
    width: 90vw;  
    display: flex;   
    justify-content: space-around;
    gap: 20px;
}
.box {
    width: 100%;  
    position: relative; 
    display: inline-block;
    justify-content: center;   
}
.text {
    padding: 5px;
    box-shadow: 1px 1px 10px -5px;
    border-radius: 3px;  
}
.disappearing {
    opacity: 0.4;
}
.disappeared {
    opacity: 0.35;
}
.copy-position {
    position: relative; 
    margin-top: 8vh;
}
.about-image {
    background-image: url("../../../../assets/images/about.webp");    
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;  
    width: 800px; 
    box-shadow: 2px 2px 10px -5px;
    border-radius: 3px;
}
.button-position {  
    position: absolute;   
    width: 50%;
    left: 25%;
}

@media screen and (max-width: $mini-mobile-width) {
    .about {      
        min-height: 110vh; 
    }
    .main {
        flex-wrap: wrap;
        margin: -3vh 0 0 0;
        height: 75vh;
        width: 100vw; 
    }
    .title {
        padding-top: 60px;
    }
    .text {        
        font-size: 14px;
        padding: 5px 15px;
        box-shadow: none;
    }
    .about-image{
        display: none;
    }
}
@media screen and (min-width: $mini-mobile-width) and (max-width: $mobile-width) {
    .main {
        flex-wrap: wrap;
        margin: -3vh 0 0 0;
        height: 75vh;
        width: 100vw; 
    }
    .title {
        padding-top: 60px;
    }
    .text {        
        font-size: 14px;
        padding: 5px 15px;
        box-shadow: none;
    }
    .about-image{
        display: none;
    }    
}
@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
    .main {
        flex-wrap: wrap;
    }
    .title {
        padding-top: 60px;
    }
    .text {        
        font-size: 14.5px;
        padding: 1px;
        box-shadow: none;
    }
    .about-image{
        display: none;
    }
    .button {
        left: 25%;
        width: 50%; 
    }
}
@media screen and (min-width: $tablet-width) and (max-width: $small-pc-width) {
    .main {
        flex-wrap: wrap;
    }
    .text {        
        font-size: 15px;
        padding: 40px 70px 20px;
    }
    .about-image{
        display: none;
    }    
}
@media screen and (min-width: $small-pc-width) and (max-width: $pc-width) {
    .text {        
        font-size: 14px;
        padding: 10px 15px;
    }
}
@media screen and (min-width: $pc-width) and (max-width: $pc-width-max) {
    .text {        
        font-size: 16px;
        padding: 30px 40px;
    }
}
@media screen and (min-width: $pc-width-max-plus-one) {
    .text {        
        font-size: 16px;
        padding: 60px 120px;
    }    
}
@media screen and (max-height: $mobile-landscape-min-height) {
    .about {        
        min-height: 110vh; 
    }
    .main {
        margin: -7vh 0 0 0;
        width: 98%;
        height:auto;
    }
    .title {
        padding-top: 60px;
    }   
    .text {        
        font-size: 13px;
        padding: 2px 10px;
        box-shadow: none;       
    }   
    .about-image{
        display: none;
    }
    .copy-position {
        position: relative; 
        margin-top: 10vh;
    }
}
@media screen and (min-height: $mobile-landscape-min-height-plus-one) and (max-height: $mobile-landscape-max-height) and (min-width: $tablet-width) {
    .about {
        height: 110vh; 
    }
    .main {
        margin: -7vh 0 0 0;
        width: 96%;
        height:auto;
    }
    .title {
        width: 100%;            
        text-align: center; 
        padding-top: 90px;      
    }
    .text {        
        font-size: 16px;
        padding: 10px 40px;
        box-shadow: none;   
    }   
    .about-image{
        display: none;
    }
}
