<div class="about">
    <h4 class="title center-text with-100">Kilka słów o mnie...</h4>
    <article class="main">
        <section class="box text">
                <p>
                    Mam na imię Beata, od 2007 roku jestem wykwalifikowanym groomerem i zawodowo zajmuję się stylizacją
                    psów prowadząc w Bielsku-Białej Salon Pielęgnacji Psów LENA.
                </p>
                <p>
                    Jestem wielką miłośniczką psów, od zawsze były w moim życiu i zawsze dbanie o ich szatę sprawiało mi
                    wiele satysfakcji. Ukochane przeze mnie owczarki szkockie collie, były bardzo wymagające w
                    pielęgnacji, miałam dwie sunie Lukę i Lenę, obie były Championami Polski 😊
                </p>               
                <p>
                    Byłam jednym z członków założycieli Polskiego Stowarzyszenia Groomerów (2009) z inicjatywy
                    którego w 2010 roku uznany został zawód GROOMER czyli Fryzjer Zwierząt. W czerwcu 2013 roku
                    zdałam państwowy egzamin przed Komisją Izby Rzemieślniczej Małej i Średniej Przedsiębiorczości w
                    Katowicach uzyskując tytuł MISTRZA w zawodzie Groomer.
                    <br>
                    By szlifować swój fach trzeba się szkolić, dlatego też uczestniczę w różnych seminariach i
                    warsztatach u wybitnych groomerów i hodowców.
                </p>
                <p>
                    Stawiam na jakość, profesjonalizm i wysoki poziom wykonywanych usług, pamiętając jednocześnie o
                    tym by psi klient był otoczony miłością, szacunkiem i czuł się komfotowo.
                    <br>
                    Mam wieloletnie doświadczenie kynologiczne, oraz wiedzę z zakresu behawiorystyki, potrafię
                    odpowiednio podejść do pieska i pracuję na zasadzie współpracy z nim.
                    <br>
                    Opiekunowi psiego klienta służę pomocą i udzielam rad, jak na co dzień dbać o jego szatę, by
                    cały czas wyglądał pięknie.
                </p>
                <p>
                    Robię to co lubię jak najlepiej potrafię i wkładam w to całe serce 😊
                </p>
        </section>
        <section class="about-image"></section>
    </article>
    <div copyRights class="main-color-gray copy-position"></div>
</div>