@import "../../../../scss/sizes.scss";
@import "../../../../scss/colors.scss";

.text {
    text-align: left;
    padding-right: 20px;    
}
.about-image {
    background-image: url("../../../../assets/images/about.webp");    
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: 1px 1px 10px 0px;
    border-radius: 3px;
    height: 600px;
    width: 350px;
    position: relative;
    float: right;
    top: 10px;
    left: 10px;
    bottom: 110px;
}
table {
    max-width: 1400px;
}

@media screen and (max-width: $tablet-width) {
    .about-image {
        display: none;
    }
    // .text {
    //     font-size: 14px;   
    // }
}