@import "../../../../scss/sizes.scss";
@import "../../../../scss/colors.scss";

.logo-image {
    background-image: url("../../../../assets/images/logo.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;    
}
.logo {  
    @extend .logo-image;
    position: absolute;
    margin: 10px;
    top:0;
}
.logo-small {
    width: 24px;
    height: 24px;
}
.logo-medium {
    width: 48px;
    height: 48px;
}
.logo-big {
    width: 96px;
    height: 96px;
}
.HOME-logo { 
    @extend .logo-image;
    position: absolute;
    z-index: 999;
    left: 10px;
    top: 10px;
    width: 120px;
    height: 120px;
    box-shadow: 1px 1px 7px 1px $box-shadow-color;
}
@media screen and (max-width: $tablet-width) {
    .logo {
        width: 24px;
        height: 24px;
        margin: 8px 4px;
    }   
    .logo-medium {
        width: 48px;
        height: 48px;
    } 
    .HOME-logo {        
        left: 5px;
        top: 5px;
        width: 48px;
        height: 48px;
    }
}
@media screen and (min-width: $tablet-width-plus-one) {
    .logo {
        width: 48px;
        height: 48px;
    } 
}
@media screen and (max-height: $mobile-landscape-min-height) and (min-width: $tablet-width) {
    .logo {
        width: 24px;
        height: 24px;
        margin: 7px;
    }   
    .logo-medium {
        width: 48px;
        height: 48px;
    }
    .HOME-logo {        
        left: 5px;
        top: 5px;
        width: 96px;
        height: 96px;
    }
}
