@import "../../../../scss/colors.scss";
@import "../../../../scss/sizes.scss";

.item {    
    height: 180px;
    width: 100%;   
    box-shadow: 0.3px 0.3px 5px 0.3px $box-shadow-color-medium;   
    display: table;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    opacity: 1.5; 
    position: relative;  
}
.item:first-child {
    padding-top: 70px;  
}
.shadow {
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    height: 250px;
    width: 100%;  
    margin-top: -164px;    
}
.qualifications {
    background-image: url("../../../../assets/images/kwalifikacje1.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
}
.salon {
    background-image: url("../../../../assets/images/gallery.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
}
.information {
    opacity: 0.3; 
    text-align: left;
    padding: 10px;  
}
.advices {
    @extend .information;
}

@media screen and (max-width: $tablet-width) {
    .shadow {
        width: 90vw;        
    }
}