@import "../../../../colors.scss";
@import "../../../../sizes.scss";

.offer {
    width: 100%;
    min-height: 100vh;         
}
.box { 
    margin-top: 15vh; 
    display: flex;
    flex-direction: row;
    color: black;
    z-index: 1;
    justify-content: space-around;   
    font-size: 18px;     
}
.bottom { 
    margin: 0 auto;
    margin-top: 1vh;
    color: black;
    z-index: 1;
    justify-content: space-around;   
    left: 0;
    display: table;
    flex-direction: column;
    width: 80vw;
    max-width: 920px;
}
.title {
    top: 15vh;   
    text-align: center;
    position: relative;
}
ul {  
    padding-inline-start: 30px;
}
ul li::before {
    opacity: 0.5;
    font-size: 16px;
    margin-bottom: 3px;
}
ul li {
    margin: 5px;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
@media screen and (max-width: $mobile-width) {
    .title {
        top: 60px;
    }
    .box { 
        margin-top: 7vh;  
        font-size: 14px;         
    }
    .bottom {
        margin-top: 1vh;  
        font-size: 14px; 
        padding: 0 1vw;
        width: 92vw;
    }      
}
@media screen and (min-width: $mobile-width) and (max-width: $pc-width) {
    .box {        
        font-size: 14px;
    }  
    .bottom {
        margin-top: 1vh;  
        font-size: 14px; 
        padding: 0 3vw;
    } 
}
@media screen and (min-width: $pc-width) {
    .box {
        min-height: 5vh;   
    } 
    .bottom {
        margin-top: 3vh;  
        font-size: 18px; 
        padding: 0 3vw;
    }     
}
@media screen and (max-height: $mobile-landscape-min-height) {
    .title {
        top: 15vh;
    }
    .box {        
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        font-size: 14px; 
    }
    .bottom {
        margin-top: 7vh;  
        font-size: 14px; 
        padding: 0 3vw;
    }  
}
@media screen and (min-height: $mobile-landscape-min-height-plus-one) and (max-height: $mobile-landscape-max-height) and (min-width: $tablet-width) {
    .title {
        top: 15vh;
    }
    .box {        
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
    .bottom {
        margin-top: 7vh;  
        font-size: 14px; 
        padding: 0 3vw;
    } 
}