@import '../../../../scss/colors.scss';

main {
    padding-top: 10px;
}
.text {
    text-align: left;
}
ul {  
    padding-inline-start: 30px;    
}
ul li::before {
    opacity: 0.5;
    margin-bottom: 3px;
}
ul li {
    margin: 5px;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.gray-small {
    font-size: 11px;
    color: $main-color-gray;
}
