<div class="offer">
    <h4 class="title">Salon "LENA" oferuje</h4>
    <article class="box">        
        <ul>
            <aside class="left">
                <li>Strzyżenie psów rasowych zgodnie z wzorcem FCI</li>
                <li>Strzyżenie psów z dobraniem odpowiedniej fryzurki jak i uwzględnienie życzeń Właściciela</li>
                <li>Trymowanie psów szorstkowłosych</li>
                <li>Rozczesywanie skołtunionej sierści</li>
                <li>Wyczesywanie z usunięciem podszerstka metodą coat - king</li>
            </aside>
            <aside class="right">
                <li>Kąpiele kosmetyczne</li>
                <li>Kosmetyka</li>
                <li>Przy każdej pełnej wizycie tj. kąpiel, wyczesywanie, strzyżenie - obcinanie pazurków i czyszczenie
                    uszu
                    GRATIS!</li>
                <li>Akcesoria do pielęgnacji psiej szaty, oraz odpowiednie szampony i odżywki</li>
                <li>Fachowe porady w zakresie pielęgnacji psów</li>
            </aside>
        </ul>
    </article>
    <div class="contact-button">
        <app-button class="button-position"  (onClick)='scrollService.goToView("kontakt")'>Zapraszam do kontaktu</app-button>    
    </div>
    <div copyRights class="copy-position main-color-gray"></div>
</div>