@import "../../../styles.scss";

.icon-position{   
    position: absolute;
    right: -3px; 
    z-index: 400;  
}
.icon {
    @extend .icon-position;        
    color: rgb(17,120,242);   
    right: 0px;
    padding: 1px 5px;  
    border-radius: 2px 0 0 2px;
}
.icon:hover{
    color: white;
    background-color: rgb(17,120,242);
}