<div class="site">
    <main>
        <h4>KONTAKT</h4>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="info">
                            <p>Salon czynny od poniedziałku do piątku</p>
                            <p>w godzinach od 10:00 do 18:00</p>
                            <p><strong>Salon Lena</strong> Beata Zdrowak</p>
                            <p>Bielsko-Biała ul. Żywiecka 23B</p>
                            <app-phone class="phone" [href]="'tel:+48517803638'">517 803 638</app-phone>
                            <p class="facebook"><a (click)="goToFacebook()">Zapraszam na Facebook <fa-icon class="icon"
                                        [icon]="faFacebook"></fa-icon></a></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.3375912507267!2d19.056608!3d49.8173199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47169f655213af7b%3A0x5f06ee65b566f1b6!2sDog%20Grooming%20Salon%20LENA!5e0!3m2!1sen!2spl!4v1732972594270!5m2!1sen!2spl"
                            frameborder="0" allowfullscreen="">
                        </iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <div class="background"></div>
</div>