<div class="blank"></div>
<section class="contact">
    <section class="background"></section>
    <section class="content">
        <div class="info">
            <p>Salon czynny od poniedziałku do piątku</p>
            <p>w godzinach od 10:00 do 18:00</p>
            <p><strong>Salon Lena</strong> Beata Zdrowak</p>
            <p>Bielsko-Biała ul. Wapienna 16</p>
            <app-phone class="phone"></app-phone>           
            <p class="facebook"><a (click)="goToFacebook()">Zapraszam na Facebook <fa-icon class="icon" [icon]="faFacebook"></fa-icon></a></p>            
        </div>
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.070295923925!2d19.063292216040423!3d49.82234397939353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47169f685ff1ed83%3A0x96132a93c6fe43ca!2sWapienna+16%2C+Bielsko-Bia%C5%82a!5e0!3m2!1spl!2spl!4v1456678590766"
            frameborder="0" allowfullscreen="">
        </iframe>
    </section>    
    <div copyRights class="color-white copy-position"></div>
</section>