@import "../../../../scss/colors.scss";
@import "../../../../scss/sizes.scss";

table {
    max-width: 550px;
}
.box {  
    border-radius: 2px;
    box-shadow: 0.3px 0.3px 5px 0.3px $box-shadow-color-medium;
    background-color: white;
}
.info {
    @extend .box;
    padding: 20px 0;
}
.map {
    @extend .box;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
} 
.phone {
    font-size: 20px;   
}
.facebook { 
    cursor: pointer;
}
.facebook:hover {
    color: rgb(17,120,242);
    transform: scale(1.05);
}
.icon {          
    color: rgb(17,120,242);  
}
.background {
    background: repeating-conic-gradient(from 240deg at 25% 20%, #3c0469 20%, #9f4885 30%, #ffaabb 50%);
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70vh;
    z-index: -1;
}    

@media screen and (max-width: $tablet-width) {
    .box {
        width: 90vw;
    }
}