@import "../../../../scss/colors.scss";
@import "../../../../scss/sizes.scss";

.menu-icon {
    display: none;
    font-size: 24px;
    padding: 7px 5px;
    z-index: 999;
}

.slide-left {
    animation: slide-left 0.9s forwards;
    animation-delay: 0s;
    right: -303px;
    z-index: 1000;
}

.slide-right {
    animation: slide-right 0.9s forwards;
    animation-delay: 0s;
    right: -1px;
}

.HEADER-menu {
    display: table;
    margin: 0 auto;
    margin-top: 23px;
    font-size: 14px;
}

.HEADER-menu>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.HEADER-menu li {
    padding: 7px 12px 0px;
    cursor: pointer;
}

.HEADER-menu>ul>li:hover {
    color: $main-color;
}

.HEADER-menu>ul .active-link {
    border-bottom: 2px solid $main-color;
}

.HEADER-menu .icon {
    display: table;
    margin: 0 auto;
}

.HOME-menu {
    @extend .HEADER-menu;
}

.HOME-menu>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.HOME-menu li {
    padding: 4px;
    cursor: pointer;
    display: flex;
    text-align: left;
}

.HOME-menu>ul>li:hover {
    color: $name-color;
}

.HOME-menu>ul .active-link {
    pointer-events: none;
    border-bottom: 2px solid  $name-color;
}

.HOME-menu .icon {
    display: table;
    margin: 5px 2px;
    min-width: 20px;
    text-align: center;
}

.HOME-menu .description {
    display: table;
    margin: 5px 2px;
}

@media screen and (max-width: $tablet-width) {
    .HOME-menu,
    .HEADER-menu {
        display: flex;
        margin: 0;
        font-size: 18px;
    }
    .HOME-menu ul,
    .HEADER-menu ul {
        display: block;
        flex-direction: column;
        justify-content: space-between;
    }
    .HOME-menu ul li ,
    .HEADER-menu ul li {
        padding: 15px 30px;
        cursor: pointer;
        display: flex;
        text-align: left;
    }
    .HOME-menu .icon ,
    .HEADER-menu .icon {
        display: block;
        margin: 5px;
        min-width: 20px;
        text-align: left;
    }
    .HOME-menu .icon ,
    .HEADER-menu .icon {
        display: flex;        
    }
    .HOME-menu >ul .active-link,
    .HEADER-menu >ul .active-link {
        pointer-events: none;
        color: $main-color;
    }
    .menu-icon {
        position: absolute;
        display: flex;
        float: right;
        top: 0;
        right: 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 38px;
        left: 101%;   
        height: 100vh;
    }
    ul li {
        box-shadow: 0px 5px 5px -7px rgba(94, 93, 93, 0.8);
        padding: 15px 0;
        width: 100%;
        color: black;
        text-decoration: none;
        text-align: center;
        display: table;
        margin: 0 auto;
        cursor: pointer;
    }
    .description {
        font-size: 18px;
    }
    .icon {
        font-size: 18px;
    }
}

@media screen and (max-height: $mobile-landscape-min-height) and (min-width: $tablet-width) {
    .HOME-menu,
    .HEADER-menu {
        display: flex;
        margin: 0;
        font-size: 18px;
    }
    .HOME-menu ul,
    .HEADER-menu ul {
        display: block;
        flex-direction: column;
        justify-content: space-between;
    }
    .HOME-menu ul li ,
    .HEADER-menu ul li {
        padding: 8px 30px;
        cursor: pointer;
        display: flex;
        text-align: left;
    }
    .HOME-menu .icon ,
    .HEADER-menu .icon {
        display: block;
        margin: 5px;
        min-width: 20px;
        text-align: left;
    }
    .HOME-menu .icon ,
    .HEADER-menu .icon {
        display: flex;        
    }
    .HOME-menu >ul .active-link,
    .HEADER-menu >ul .active-link {
        pointer-events: none;
        color: $main-color;
    }
    .menu-icon {
        position: absolute;
        display: flex;
        float: right;
        top: 0;
        right: 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 38px;
        left: 101%;    
        height: 100vh;
    }
    ul li {
        box-shadow: 0px 5px 5px -7px rgba(94, 93, 93, 0.8);
        padding: 15px 0;
        width: 100%;
        color: black;
        text-decoration: none;
        text-align: center;
        display: table;
        margin: 0 auto;
        cursor: pointer;
    }
    .description {
        font-size: 18px;
    }
    .icon {
        font-size: 18px;
    }
}

@keyframes slide-left {
    0% {
        left: 101%;
    }

    100% {
        left: 30%;
    }
}

@keyframes slide-right {
    0% {
        left: 30%;
    }

    100% {
        left: 101%;
    }
}