@import "../../../styles.scss";

.top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 30px;
    color: $main-color-gray;
    border: 2px solid $main-color-gray;
    z-index: 300;
    background-color: white;
    line-height: 20px;
    border-radius: 50%;
    animation: show 1s forwards;
    animation-delay: 0s;
    opacity: 0;
}

  @keyframes show {
    100% { opacity: 1; }
  }