@import "../../../../scss/colors.scss";
@import "../../../../scss/sizes.scss";

.brand {
    width: 100%;
    text-align: center;      
    position: absolute;
    top: 2px;    
}
.main {
    color: $main-color;
    font-family: "Monotype Corsiva";
    font-style: italic;
    font-size: 19px;
}
.description {
    color: black;
    font-size: 14px;
}
@media screen and (max-width: $tablet-width) {
    .brand {
        display: none;
    }
}
@media screen and (max-height: $mobile-landscape-min-height) and (min-width: $tablet-width) {
    .brand {
        display: none;
    }
}
