@import "../../../../scss/colors.scss";
@import "../../../../scss/sizes.scss";

main {
    margin-top: 55px;  
    width: 100%;
}
.home-background {
    height: 87vh;
    width: 100%; 
    position: absolute;
    top:0;
    z-index: -1;
    background: linear-gradient(to right bottom,#7716c7,#9f4885 20%,#fab 50%,#9f4885 80%,#7716c7);
    opacity: .75;
}
.home-img {   
    background-image: url("../../../../assets/images/start.webp");
    background-size: contain;
    box-shadow: 2px 2px 15px 1px $box-shadow-color; 
    width: 100%;    
    border-radius: 3px;     
}
.brand {    
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 86px;
    font-size: 24px;    
}
.brand .phone {
    margin-left: 10px;
    font-size: 14px; 
    font-family:'Segoe UI', Arial, Helvetica, sans-serif, Geneva, Verdana, sans-serif; 
    font-style: none;
}
.brand-description {
    font-family: 'Monotype Corsiva';
    font-style: italic;
    font-size: 42px;  
    color: $main-color;
}
.name {
    font-style: italic;
    font-family:'papyrus';
    color: white;
}
.arrow {
    font-size: 30px;
    color: white;   
    animation: arrow-animated 1s infinite;
    animation-delay: 0.5s;     
    position: absolute;
    text-align: center;
    width: 100%; 
    top: 90vh;    
}
  @keyframes arrow-animated {
    0% { padding-top: 2vh; }
    50% { padding-top: 4vh; }
    100% {padding-top: 2vh; }
}
.quote {
    font-size: 15px;
    font-style: italic;  
    text-align: center;
    position: relative;
    width: 100%;        
}
.quote2 {
    @extend .quote;
    width: 80%; 
    left: 10%;
}
@media screen and (max-width: $tablet-width) {
    .brand {  
        font-size: 18px;  
        top: 40px;
        margin-top: 0px;
    }
    .name {  
        display: flex;
        flex-direction: column;
    }
    .brand-description {
        font-size: 34px; 
    }
    .quote {
        margin-top: 60px;
        font-size: 14px;
        width: 70%; 
        left: 15%; 
    } 
    .quote2 {
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-height: $mobile-landscape-min-height) and (min-width: $tablet-width) {
    .home-img {
        display: none;
    }
    .quote {
        margin-top: 80px;
        font-size: 14px;        
    } 
    .quote2 {
        margin-top: 40px;
        width: 90%;
        left: 5%;
    }
}