<div class="home-background"></div>
<app-logo type="HOME"></app-logo>
<div class="brand">
    <span class="brand-description">Lena</span>
    <div>Salon Pielęgnacji Psów</div>
    <div class="name">Beata Zdrowak
        <span class="phone">
            <app-phone [href]="'tel:+48517803638'">517 803 638</app-phone>
        </span>
    </div>
</div>
<app-menu type="HOME"></app-menu>
<app-facebook [fontSize]="40" [top]="0"></app-facebook>
<div class="site">
    <main>
        <p class="quote">"Pies jest jedynym stworzeniem na ziemi, które kocha Cię więcej niż siebie samego" Josh
            Billings</p>
        <div class="home-img"></div>
    </main>
    <div class="arrow">
        <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
    </div>
</div>