.news {
    padding-top: 20vh;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(243, 230, 206);
    text-align: center;
    line-height: 30px;
    margin: 0;
    z-index: 10000;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.news-img {
    width: 85%;
    max-width: 800px;
    box-shadow: 0px 0px 15px 0px rgba(94, 93, 93, 0.8);
    border-radius: 5px;
    animation-name: news-img-jump;
    animation-duration: 1s;
}

@keyframes news-img-jump {
    0%   {transform: scale(0.5); box-shadow: 0px 0px 0px 0px transparent}
    75%  {transform: scale(1.1); box-shadow: 0px 0px 0px 0px transparent}
    100% {transform: scale(1); box-shadow: 0px 0px 15px 0px rgba(94, 93, 93, 0.8);}
  }

.label-text {
    color: rgb(77, 76, 74);
}

.image-container {
    display: flex;
    justify-content: center;
}

.button-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.checkbox {
    transform: scale(1.3);
}

.checkbox-label:hover {
    transform: scale(1.015);
}