@import "../../../../scss/sizes.scss";

.icon-position{   
    position: absolute;
    top: 16px;
    right: -3px; 
    z-index: 400;  
}
.icon {
    @extend .icon-position;        
    color: rgb(17,120,242);   
    right: 0px;
    padding: 1px 2px;  
    border-radius: 2px 0 0 2px;
}
.icon:hover{
    color: white;
    background-color: rgb(17,120,242);
}

@media screen and (max-width: $tablet-width) {
    .icon-position{  
        top: 1px;  
        position: inherit;    
    }
    .HOME {
        position: relative;
        top: 40px;
        float: right;
    } 
}
@media screen and (max-height: $mobile-landscape-min-height) and (min-width: $tablet-width) {
    .icon-position{ 
        top: 1px; 
        position: inherit;    
    }
    .HOME {
        position: relative;
        top: 40px;
        float: right;
    } 
}