$mini-mobile-width: 376px;
$mobile-width: 460px;
$mobile-width-plus-one: 461px;
$tablet-width: 700px;
$tablet-width-plus-one: 701px;
$small-pc-width: 990px;
$small-pc-width-plus-one: 991px;
$pc-width: 1300px;
$pc-width-plus-one: 1301px;
$mobile-landscape-min-height: 600px;
$mobile-landscape-min-height-plus-one: 601px;
$mobile-landscape-max-height: 690px;
$home-image-width: 380px;
$home-image-height: 540px;