@import "./colors.scss";
@import "./sizes.scss";

body {
    font-family:'Segoe UI', Arial, Helvetica, sans-serif, Geneva, Verdana, sans-serif; 
    margin: 0;
    position: relative;   
    min-width: 330px; 
}
.center-text {
    text-align: center;
}
.fixed {
    position: fixed;
}
.with-100 {
    width: 100%;
}
.copy-rights {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 10px;      
}
.color-white {
    color:white;
}
.main-color-gray {
    color:$main-color-gray;
}
.noselect {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}
.not-visible {
    display: none;
}
//themes
@mixin theme-colors($color-theme, $gray-theme, $sepia-theme) {
    @if $color-theme == true {
        .blank {
            background-color:white; 
        }
        .home-img {  
            filter: none; 
        }
        .home-background {
            background: linear-gradient(to right bottom, #7716c7 0%, #9f4885 20%, #ffaabb 50%, #9f4885 80%, #7716c7 100%);            
            opacity: 0.75; 
        }
        .contact .background {        
            background: repeating-conic-gradient(from 240deg at 25% 20%, #3c0469 20%, #9f4885 30%, #ffaabb 50%);
            opacity: 0.6;        
        }
    } @else if $gray-theme == true {
        .blank {
            background-color: #ecebeb; 
        }      
        .home-background {
            background: linear-gradient(to right bottom, #2b2929 0%, #28272e 20%, #a29aa5 50%, #383637 80%, #2a292b 100%); 
            opacity: 0.7; 
        }
        .contact .background {        
            background: repeating-conic-gradient(from 240deg at 25% 20%, #707070 20%, #a5a5a5 30%, #fdfdfd 50%);
            opacity: 0.6;        
        }
    } @else if $sepia-theme == true {
        .blank {
            background-color:#cfc9a7; 
        }
        .home-img {   
            filter: sepia(85%); 
        }
        .home-background {
            background: linear-gradient(to right bottom, #74591e 0%, #aa9059 20%, #9b8253 50%, #c4a053 80%, #a77e42 100%);
            opacity: 0.7; 
        }
        .contact .background {        
            background: repeating-conic-gradient(from 240deg at 25% 20%, #815c18 20%, #8b6e30 30%, #634313 50%);
            opacity: 0.6;        
        }
    }
}
@mixin logo-themes($original) {
    @if $original == true {
        .logo {
            background-image: url("./assets/images/logo.png");
        }
        .brand-description {  
            color: $oryginal-main-color;
        }
        .phone .icon {
            color: $oryginal-main-color;           
        }
        
    } @else {
        .logo {
            background-image: url("./assets/images/logov.png");
        }
        .brand-description {  
            color: $main-color;
        }
        .phone .icon {
            color: $main-color;           
        }
    }
}

@mixin copy-rights($visible) {
    @if $visible == false {
        .copy-rights {
            display: none;
        }
    }
}

.color-theme {
    @include theme-colors(true, false, false);
}
.gray-theme {
    @include theme-colors(false, true, false);
}
.sepia-theme {
    @include theme-colors(false, false, true);
}

.original-logo-theme {
    @include logo-themes(true);
}
.new-logo-theme {
    @include logo-themes(false);
}

.copy-rights-hidden {
    @include copy-rights(false);
}