@import "./scss/colors.scss";
@import "./scss/sizes.scss";

body {
    font-family:'Segoe UI', Arial, Helvetica, sans-serif, Geneva, Verdana, sans-serif;
    margin: 0;   
    position: absolute;
    width: 100%;
    max-width: 100%;
}
.site {    
    min-height: 100vh;
    padding-top: 70px;    
    width: 100%;
    text-align: center;
}
.site > main {
    display: table;
    margin: 0 auto;    
}
.gray-background {
    // background-color: rebeccapurple;
    background-color: $body-gray;
}
.noselect {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}
.color-image {
    max-width: 300px;
    border-radius: 2px;
    box-shadow: 5px 6px 7px 1px rgb(173, 210, 235);
}
.hidden {
    display: none;
}
.ul-center {
    list-style: none;
    text-align: left;
    display: table;
    margin: 0 auto;
}
.font14 {
    font-size: 14px;
}
.font15 {
    font-size: 15px;
}
.font16 {
    font-size: 16px;
}
.font17 {
    font-size: 17px;
}
.font18 {
    font-size: 18px;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.italic {
    font-style: italic;
}
//Animations
.animate-container {
    min-height: 50px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.animate-show {
    animation: animate-show 2.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    position: fixed;
    top:-100vh;
}
@keyframes animate-show {
    100% { 
        opacity: 1; 
        position: relative;
        top: auto; 
    }
}

.animate-hide {
    animation: animate-hide 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 1;
}
@keyframes animate-hide {
  100% { opacity: 0; }
}
.animate-slide-left-to-center {
    left: -200%;
    -ms-left:-200%;
    -webkit-left:-200%;
    -moz-left:-200%;
    -o-left:-200%;
    left:-200%;    
    -ms-position: absolute;
    -webkit-position: absolute;
    -moz-position: absolute;
    -o-position: absolute;
    position: absolute;
    -ms-animation: animate-slide-left-to-center 1.5s forwards;
    -webkit-animation: animate-slide-left-to-center 1.5s forwards;
    -moz-animation: animate-slide-left-to-center 1.5s forwards;
    -o-animation: animate-slide-left-to-center 1.5s forwards;
    animation: animate-slide-left-to-center 1.5s forwards;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -ms-white-space:nowrap;
    -webkit-white-space:nowrap;
    -moz-white-space:nowrap;
    -o-white-space:nowrap;
    white-space:nowrap;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    
}
@keyframes animate-slide-left-to-center {
    0% { height: 0;}
    100% {
        -ms-left:0;
        -webkit-left:0;
        -moz-left:0;
        -o-left:0;
        left:0;
        -ms-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
        -ms-display: block;
        -webkit-display: block;
        -moz-display: block;
        -o-display: block;
        display: block;        
        -ms-position: relative;
        -webkit-position: relative;
        -moz-position: relative;
        -o-position: relative;
        position: relative;
        -ms-opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
     } 
}
.animate-slide-right-to-center {
    display:block;
    left: 200%;
    position:absolute;
    animation: animate-slide-right-to-center 1.5s forwards;
    animation-delay: 0s;
    white-space:nowrap;
    opacity: 0;
}

@keyframes animate-slide-right-to-center {
    0% { height: 0;}
    100% {
        left:0;
        -ms-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
        display: block;
        position: relative;
        opacity: 1;
     } 
} 

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
    .site > main {       
        width: 90vw;          
    }
}
@media screen and (min-width: $tablet-width) and (max-width: $small-pc-width) {
    .site > main {       
        width: 80vw;          
    }
}
@media screen and (min-width: $small-pc-width) and (max-width: $pc-width) {
    .site > main {       
        width: 80vw;          
    }
    body::-webkit-scrollbar{
        width: 10px;
        background-color: rgb(247, 243, 243);
    }
    body::-webkit-scrollbar-thumb {
        background: rgb(197, 197, 197); 
        border-radius: 25px;
    }
}
@media screen and (min-width: $pc-width) and (max-width: $pc-width-max) {
    .site > main {       
        width: 70vw;          
    }
    body::-webkit-scrollbar{
        width: 10px;
        background-color: rgb(247, 243, 243);
    }
    body::-webkit-scrollbar-thumb {
        background: rgb(197, 197, 197); 
        border-radius: 25px;
    }
}
@media screen and (min-width: $pc-width-max-plus-one) {
    .site > main {       
        width: 60vw;          
    }
    body::-webkit-scrollbar{
        width: 10px;
        background-color: rgb(247, 243, 243);
    }
    body::-webkit-scrollbar-thumb {
        background: rgb(197, 197, 197); 
        border-radius: 25px;
    }
}
@media screen and (max-height: $mobile-landscape-min-height) {
    .site > main {       
        width: 99vw;          
    }
}
@media screen and (min-height: $mobile-landscape-min-height-plus-one) and (max-height: $mobile-landscape-max-height) and (min-width: $tablet-width) {
    .site > main {       
        width: 99vw;          
    }
}
//Table


table {
    width: 100%;
    max-width: 850px;
    display: table;
    margin:  0 auto;
}
tr {    
    margin: 0;
}
th, td {
    padding: 20px 10px;
    width: 50%;
}
.border tr {
    box-shadow: 1px 3px 1px -3px $box-shadow-color;
}
.td-header {
    display: none;
}

@media screen and (max-width: $tablet-width) {
    thead {
        display: none;
    }
    tr {
        display: flex;
        flex-direction: column;
    }
    th, td {
        max-width: 100%;
        width: auto;
    }
    td {
        display: table;
        margin: 0 auto;
    }
    .td-header {
        display: block;
        text-align: left;
        font-style: italic;
    }
    .border tr {
        box-shadow: 0px 0.1px 0.3px 0.3px $box-shadow-color;
        margin-bottom: 5px;
    }
}