$main-color: #db5f0d;
$name-color: #701e85;
$main-color-gray-light: #d6d4d4;
$main-color-gray: #afadad;
$main-color-gray-dark :#474747;
$box-shadow-color: #444444;
$box-shadow-color-medium: #b9b5b5;
$box-shadow-color-light: #e2e2e2;
$body-gray: #fafafafb;