@import "../../../styles.scss";
.menu {
    position: absolute;
    list-style-type: none;    
    text-align: left;  
    padding-inline-start: 0;   
}
.header-menu {
    position: absolute;
    list-style-type: none;
    padding-inline-start: 0; 
    margin-top: 10px;
    margin-left: 10%;
    display: flex;   
    flex-direction: row;
    justify-content: center;
    width: 80%;
}
.menu > li > a, .header-menu > li > a {
    text-decoration: none;     
}
.menu .active-link {
    border-left: 3px solid $main-color;
}
.header-menu .active-link {
    border-bottom: 2px solid $main-color;
}
.description {     
    text-align: center;
    padding: 0 10px;
    font-size: 16px;   
}
.header-menu .description {
    text-align: center;
    padding: 0 10px;
    font-size: 14px;
    margin-top: 40px;     
    color: $main-color-gray-dark;  
}
.link {
    color: black;    
    cursor: pointer; 
}
.link div {
    cursor: pointer;
}
.link:hover {  
    color: $main-color;  
}


@media screen and (max-width: $mobile-width) {
    .menu {
        margin-top: 10px;
        margin-left: 10%;
        display: flex;   
        flex-direction: row;
        justify-content: center;
        width: 80%;  
    }
    .menu .active-link {
        border-left: none;
        border-bottom: 2px solid $main-color;
    }
    .description {     
        text-align: center;
        padding: 0 3px;
        font-size: 14px;   
    }
    .header-menu .description {
        margin-top: 5px; 
        padding: 0 3px;   
    }
}
@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
    .menu {
        margin-top: 20px;
        margin-left: 20%;
        display: flex;   
        flex-direction: row;
        justify-content: center;
        width: 60%;  
    }
    .menu .active-link {
        border-left: none;
        border-bottom: 2px solid $main-color;
    }
    .description {     
        text-align: center;
        padding: 0 4px;
        font-size: 16px;   
    }
    .header-menu .description {
        margin-top: 5px;    
    }
}
@media screen and (min-width: $tablet-width) and (max-width: $small-pc-width) {
    .menu {
        margin-top: 20px;
        margin-left: 25%;
        display: flex;   
        flex-direction: row;
        justify-content: center;
        width: 50%;           
    }
    .menu .active-link {
        border-left: none;
        border-bottom: 3px solid $main-color;
    }    
}
@media screen and (min-width: $small-pc-width) and (max-width: $pc-width) {
    .menu {
        margin-top: 230px;
        margin-left: 9%;
    }
    .description {     
        text-align: left;
        padding: 2px 10px;
        font-size: 20px;   
    }
    .header-menu .description {
        font-size: 16px;
        margin-top: 36px;    
        padding: 0 13px;   
    }
}
@media screen and (min-width: $pc-width) {
    .menu {       
        margin-top: 230px;
        margin-left: 16.3%;
    }
    .description {     
        text-align: left;
        padding: 2px 10px;
        font-size: 20px;   
    }
    .header-menu .description {
        font-size: 17px;
        margin-top: 36px;   
        padding: 0 15px;    
    }
}
@media screen and (max-height: $mobile-landscape-min-height) {
    .menu {
        margin-top: 10px;
        margin-left: 10%;
        display: flex;   
        flex-direction: row;
        justify-content: center;
        width: 80%;  
    }
    .menu .active-link {
        border-left: none;
        border-bottom: 2px solid $main-color;
    }
    .description {     
        text-align: center;
        padding: 0 5px;
        font-size: 14px;   
    }
    .header-menu .description {
        margin-top: 5px; 
        padding: 0 5px;   
    }
  }