@import "../../../colors.scss";
@import "../../../sizes.scss";

table {
    width: 100%;
    table-layout:fixed;
}
tr {    
    margin: 0;
}
th, td {
    padding: 20px 10px;
}
td:last-child {
    text-align: right;
}
.border tr {
    box-shadow: 1px 3px 1px -3px $box-shadow-color;
}
.td-header {
    display: none;
}

@media screen and (max-width: $tablet-width) {
    thead {
        display: none;
    }
    tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .td-header {
        display: block;
        text-align: left;
        font-style: italic;
    }
    td {
        padding: 7px 15px;
    }
    td:first-child {
        text-align: left;
    }
    td:last-child {
        text-align: right;
    }
    .border tr {
        box-shadow: 0px 0.1px 0.3px 0.3px $box-shadow-color;
    }    
}